td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

.input-group {
	margin: 20px 0px;
}

svg {
	height: 120px;
	width: 100%;
	border: 1px solid #cccccc;
}

line {
	stroke: #333333 !important;
}

.map-wrapper {
	height: 200px;
	width: 200px;
	border: 1px solid #cccccc;
}

.map-wrapper > div {
	visibility: visible;
}

td:first-of-type > div {
		height: 200px;
	width: 200px;
	border: 1px solid #cccccc;
}